/*
Custom Css
*/

.nav-item .nav-link {
  font-size: 17px !important;
}

.navbar-brand {
  padding-left: 10px;
  margin-top: 8px;
}

#searchKey_header {
  display: none;
}
  
  #searchKey_header,
  #searchWord {
    width: 150px; 
  }
  
  .btn-outline-success {
     margin-right: 16px;
  }
